/* 기본 세팅 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: all 0.5s;
}

section {
    margin-bottom: 100px;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.cardcase {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

a {
    color: #000;
}

.all {
    width: 1600px;
    margin: 0 auto;
}


/* 배경 이미지 영역 */




/* 헤더 영역 */

header {
    margin: 30px 0;
    width: 100%;
    height: 50px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo > i {
    font-size: 30px;
}

.logo > h2 {
    font-size: 20px;
    font-weight: 100;
}

.logo > h2 > span {
    font-size: 25px;
    font-weight: 900;
    color: rgb(120, 120, 120);
}

.ham {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
}

.ham > i {
    font-size: 25px;
}

nav {
    width: 600px;
    display: flex;
    justify-content: space-between;
}


/* 슬라이드 영역 */

.slide {
    width: 100%;
    height: 700px;
    overflow: hidden;
    position: relative;
}

.left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    font-size: 70px;
    font-weight: 100;
    color: #fff;
}

.right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    font-size: 70px;
    font-weight: 100;
    color: #fff;
}

.slide3 {
    display: flex;
    width: 300%;
    height: 100%;
    margin-left: -100%;
    animation: slide 8s infinite;
}

.slide3 > img {
    width: 34%;
    height: 100%;
}

@keyframes slide {
    0% {margin-left: 0%;}
    20% {margin-left: 0%;}
    25% {margin-left: -100%;}
    45% {margin-left: -100%;}
    50% {margin-left: -200%;}
    70% {margin-left: -200%;}
    75% {margin-left: -100%;}
    95% {margin-left: -100%;}
    100% {margin-left: 0%;}
}


/* 온라인 집들이 영역 */

.section > h2 {
    margin-bottom: 70px;
}

.cardbox {
    width: 380px;
    height: 350px;
}

.card {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px 10px 0 0 ;
    position: relative;
}

.card > img {
    width: 100%;
    height: 100%;
}

.img04 {
    position: absolute;
    left: 100%;
}

.card:hover .img04 {
    left: 0;
}

.text {
    width: 100%;
    text-align: center;
    border: 1px solid #9e9e9e;
    border-radius: 0 0 10px 10px;
    padding: 10px;
}


/* 전문가 영역 */

.cards {
    width: 380px;
    height: 450px;
    position: relative;
    perspective: 1000px;
}

.img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}

.img > img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.back {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotateY(-180deg);
    position: absolute;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #9e9e9e;
    border-radius: 10px;
}

.cards:hover .img {
    transform: rotateY(180deg);
    z-index: 1;
}

.cards:hover .back {
    transform: rotateY(0deg);
    z-index: 2;
}


/* 전문가 시공후기 영역 */

.box {
    width: 750px;
    height: 350px;
    border-radius: 10px;
    border: 1px solid #9e9e9e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}


/* 푸터 영역 */

footer {
    width: 100%;
    height: 50px;
    text-align: center;
    margin-bottom: 40px;
}


/* 모바일 영역 */

@media(max-width:480) {
    .all {
        width: 480px;
    }
}