/* 기본설정 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #000;
}

::-webkit-scrollbar {
    display: none;
}

.all {
    width: 100vw;
    margin: 0 auto;
}
button:focus {
    outline: none;
}
section {
    margin-bottom: 50px;
}

.background {
    width: 100vw;
    height: 250px;
    position: absolute;
    background: linear-gradient( to bottom, rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.01));
    z-index: 1;
}


/* 헤더 영역 */

.ham {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.meat {
    width: 100%;
    height: 4px;
    background-color: #757575;
    border-radius: 2px;
    transition: all 0.6s;
    transform: rotate(0deg);
}

.ham:hover .meat:nth-child(1) {
    top: 25px;
    position: absolute;
    transform: rotate(45deg);
}

.ham:hover .meat:nth-child(2) {
    top: 25px;
    position: absolute;
    transform: rotate(-45deg);
}

.ham:hover .meat:nth-child(3) {
    top: 25px;
    position: absolute;
    transform: rotate(-45deg);
}

nav {
    width: 50%;
    height: 100%;
    display: flex;
}

nav > a {
    color: #fff;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid transparent;
}

nav > a > span {
    display: none;
}

nav > a:hover {
    border-bottom: 5px solid #3d3f63;
}

header {
    width: 60%;
    height: 100px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    border-bottom: 1px solid #fff;
}

header > div {
    display: flex;
}

.menu {
    margin-top: 10px;
    width: 80px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu > a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 100%;
    height: 30px;
    background-color: #fff;
    color: #3d3f63;
    border: 1px solid rgb(161, 161, 161);
}

.logo {
    margin-right: -100px;
    margin-left: 10px;
    width: 90px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #3d3f63;
    border-radius: 50%;
}

.logo > p {
    font-size: 10px;
    color: #fff;
}

.logo > p > span {
    font-size: 13px;
    color: #3d3f63;
    font-weight: 900;
}

.logo > i {
    font-size: 50px;
    color: #3d3f63;
}


/* 슬라이드 영역 */

.slide {
    position: relative;
    width: 100%;
    height: 850px;
    overflow: hidden;
}

.slide > h1 {
    position: absolute;
    top: 30%;
    left: 13%;
    font-size: 50px;
    color: #505050;
    border-top: 2px solid #9e9e9e;
    border-left: 2px solid #9e9e9e;
    padding: 40px;
}

.slider {
    width: 300%;
    height: 100%;
    display: flex;
    transition: all 0.3s;
    margin-left: 0;
}

.slider > img {
    width: calc(100% / 3);
    height: 100%;
    object-fit: cover;
}

.button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    border: 0;
    font-size: 40px;
    background-color: #fff;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.02);
    padding: 10px;
    cursor: pointer;
}

.button div {
    background-color: #3d3f63;
    transition: all 0.6s;
}

.rod1 {
    position: absolute;
    width: 0;
    height: 2px;
    left: 225px;
}

.rod2 {
    position: absolute;
    width: 0;
    height: 2px;
    right: 225px;
}

.button1:hover {
    left: -180px;
}

.button2:hover {
    right: -180px;
}

.button1:hover .rod1  {
    width: 50px;
    height: 2px;
    transform: translateY(100%);
    margin-right: -55px;
}

.button2:hover .rod2  {
    width: 50px;
    height: 2px;
    transform: translateY(100%);
    margin-left: -55px;
}

.button1 {
    left: -200px;
    justify-content: flex-end;
    transition: left 0.4s;
    color: #3d3f63;
}

.button2 {
    right: -200px;
    transition: right 0.4s;
    color: #3d3f63;
}


/* 온라인 집들이 영역 */

.online {
    position: relative;
    width: 70%;
    height: 1250px;
    margin: 0 auto;
}

.online > p {
    position: absolute;
    font-size: 40px;
    top: 30px;
}

.online > a {
    position: absolute;
    top: 100px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    border: 2px solid #000;
}

.online > h1 {
    position: absolute;
    top: 230px;
    font-size: 70px;
    display: flex;
    flex-direction: column;
    color: #4a508d;
}

.card {
    position: absolute;
    transition: all 0.5s;
}

.card1 {
    top: 500px;
    left: 0;
    width: 650px;
    height: 450px;
}

.card2 {
    top: 0px;
    right: 0;
    width: 500px;
    height: 600px;
}

.card3 {
    top: 700px;
    right: 60px;
    width: 500px;
    height: 550px;
}

.imger {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
}

.imger:hover .imgslide {
    left: 0;
}

.imger > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.op {
    opacity: 0.8;
}

.imgslide {
    left: 100%;
    position: absolute;
    transition: all 0.6s;
}

.text {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 300px;
    height: 100px;
    background-color: #fff;
    display: flex;
    align-items: flex-end;
}

.text > p {
    font-size: 20px;
    color: #000;
    margin: 10px;
}

.text > p > span {
    font-size: 20px;
    color: #484ca1;
}


/* 전문가 영역 */

.expert {
    width: 100%;
    height: 900px;
    margin-top: 100px;
    margin-bottom: 200px;
    position: relative;
}

.backimg {
    position: absolute;
    width: 100%;
    height: 50%;
    overflow: hidden;
    bottom: 0;
    opacity: 0.8;
}

.backimg > img {
    width: 100%;
}

.top {
    width: 70%;
    height: 75%;
    position: absolute;
    overflow: hidden;
    left: 50%;
    top: 12.5%;
    transform: translateX(-50%);
}

.title {
    position: absolute;
    width: 75%;
    height: 50%;
}

.title > p {
    position: absolute;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 5px;
    color: #9e9e9e;
}

.title > h1 {
    position: absolute;
    top: 50px;
    font-size: 70px;
    color: #4a508d;
}

.img {
    position: absolute;
    perspective: 1000px;
}

.imgs > img {
    object-fit: cover;
}

.img:hover .imgs {
    transform: rotateY(180deg);
    z-index: 1;
}

.img:hover .back {
    transform: rotateY(0deg);
    z-index: 2;
}

.expert1 {
    width: 25%;
    height: 50%;
    top: 0;
    right: 0;
}

.expert2 {
    width: 50%;
    height: 50%;
    left: 0;
    bottom: 0;
}

.expert3 {
    width: 25%;
    height: 50%;
    left: 50%;
    bottom: 0;
}

.expert4 {
    width: 25%;
    height: 50%;
    right: 0;
    bottom: 0;
}

.imgs {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: rotateY(0deg);
    transition: all 0.5s;
    z-index: 2;
}

.img1 {
    width: 100%;
    height: 100%;
}

.img2 {
    width: 100%;
    height: 250%;
    margin-top: -250px;
}

.back {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    transform: rotateY(-180deg);
    transition: all 0.5s;
}

.back > a {
    font-size: 40px;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.back1 > p {
    border-radius: 5px;
    border: 1px solid #fff;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
}

.back2 > p {
    border-radius: 5px;
    border: 1px solid #000;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
}

.back3 > p {
    border-radius: 5px;
    border: 1px solid #fff;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
}

.back4 > p {
    border-radius: 5px;
    border: 1px solid #fff;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
}

.back1 {
    background-color: rgb(49, 49, 49);
    display: flex;
    justify-content: center;
    align-items: center;
}

.back1 * {
    color: #fff;
}

.back2 {
    background-color: rgb(243, 243, 243);
    display: flex;
    justify-content: center;
    align-items: center;
}

.back2 * {
    color: #666;
}

.back3 {
    background-color: rgb(27, 42, 82);
    display: flex;
    justify-content: center;
    align-items: center;
}

.back3 * {
    color: #fff;
}

.back4 {
    background-color: rgb(160, 160, 160);
    display: flex;
    justify-content: center;
    align-items: center;
}

.back4 * {
    color: #fff;
}


/* 전문가 시공후기 영역 */

.expertend {
    width: 100%;
    height: 1600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.expertend > h1 {
    font-size: 70px;
    color: #4a508d;
}

.end {
    display: flex;
    width: 100%;
    height: 40%;

}

.end > img {
    width: 55%;
    height: 100%;
    object-fit: cover;
}

.review {
    width: 45%;
    height: 100%;  
}

.review > * {
    margin-bottom: 70px;
    margin-left: 100px;
}

.review > h1 {
    font-size: 70px;
    color: rgb(230, 230, 230);
}

.review > h3 {
    font-size: 30px;
    font-weight: 500;
}

.review > a {
    display: flex;
    font-weight: 500;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    font-size: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #fff;
    background-color: #000;
}

.review > a:hover {
    color: rgb(210, 0, 0);
}

.review > a:hover .btn {
    background-color: rgb(210, 0, 0);
}


/* 푸터영역 */

footer {
    width: 100%;
    height: 200px;
    margin-top: 100px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9193a3;
    color: #fff;
}


/* 모바일 영역 */

@media(max-width:480px) {
    .background {
        height: 150px;
    }

    header {
        width: 100%;
        justify-content: center;
    }

    .ham {
        display: flex;
        z-index: 1;
    }

    nav {
        transition: all 0.6s;
        left: -480px;
        position: absolute;
        width: 480px;
        height: 800px;
        background-color: rgb(250, 250, 250);
        flex-direction: column;
    }

    .ham:hover ~ nav {
        left: 0px;
    }

    nav:hover {
        left: 0;
    }

    nav > a:nth-child(1) {
        margin-top: 430px;
    }

    nav > a {
        color: #9e9e9e;
        position: relative;
        width: 440px;
        height: 50px;
        border-bottom: 1px solid #eee;
        justify-content: start;
        padding-left: 20px;
        margin-left: 20px;
    }

    nav > a:hover {
        border-bottom: 1px solid #9e9e9e;
        color: #000;
    }

    .right {
        display: block;
        right: 20px;
        color: #9e9e9e;
        position: absolute;
    }

    nav > a:hover .right {
        color: #000;
    }

    .slide {
        height: 400px;
    }

    .slide > h1 {
        font-size: 25px;
        padding: 20px;
    }

    .menu {
        margin-left: 200px;
    }

    .button {
        width: 150px;
        height: 150px;
    }

    .button1 {
        left: -110px;
    }

    .button2 {
        right: -110px;
    }

    .button1:hover {
        left: -100px;
    }
    
    .button2:hover {
        right: -100px;
    }

    .rod1 {
        position: absolute;
        width: 0;
        height: 2px;
        left: 125px;
    }
    
    .rod2 {
        position: absolute;
        width: 0;
        height: 2px;
        right: 125px;
    }
    
    .button1:hover .rod1  {
        width: 50px;
        height: 2px;
        transform: translateY(100%);
        margin-right: -55px;
    }
    
    .button2:hover .rod2  {
        width: 50px;
        height: 2px;
        transform: translateY(100%);
        margin-left: -55px;
    }

    .online {
        width: 90%;
        height: 350px;
    }

    .online > p {
        font-size: 20px;
        top: 20px;
    }

    .online > a {
        top: 55px;
        width: 50px;
        height: 20px;
        font-size: 15px;
        border: 1px solid #000;
    }
    
    .online > h1 {
        top: 100px;
        font-size: 25px;
        display: flex;
        flex-direction: column;
        color: #4a508d;
    }

    .card1 {
        top: 190px;
        left: 0;
        width: 200px;
        height: 150px;
    }
    
    .card2 {
        top: 0px;
        right: 0;
        width: 170px;
        height: 210px;
    }
    
    .card3 {
        top: 240px;
        right: 30px;
        width: 170px;
        height: 200px;
    }

    .text {
        width: 150px;
        height: 50px;
    }
    
    .text > p {
        font-size: 15px;
        margin: 10px;
    }
    
    .text > p > span {
        font-size: 15px;
        color: #484ca1;
    }

    .expert {
        height: 350px;
        margin-bottom: 50px;
    }

    .top {
        width: 90%;
    }

    .title > p {
        font-size: 15px;
    }

    .title > h1 {
        font-size: 25px;
        top: 30px;
    }

    .expert1 {
        width: calc(100% / 3);
        height: 50%;
        top: 0;
        right: 0;
    }
    
    .expert2 {
        width: calc(100% / 3);
        height: 50%;
        left: 0;
        bottom: 0;
    }
    
    .expert3 {
        width: calc(100% / 3);
        height: 50%;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
    }
    
    .expert4 {
        width: calc(100% / 3);
        height: 50%;
        right: 0;
        bottom: 0;
    }

    .img2 {
        margin-top: 0px;
        height: 100%;
    }

    .back > a {
        font-size: 20px;
        right: 10px;
        bottom: 10px;
    }

    .back > p {
        width: 50px;
        height: 20px;
        border-radius: 3px;
        font-size: 10px;
    }

    .expertend {
        height: 450px;
    }

    .expertend > h1 {
        font-size: 25px;
    }
    
    .review > * {
        margin-bottom: 10px;
        margin-left: 10px;
    }
    
    .review > h1 {
        font-size: 21px;
    }
    
    .review > h3 {
        font-size: 12px;
    }

    .review > p {
        font-size: 3px;
    }

    .review > a {
        font-size: 3px;
    }
    
    .btn {
        margin-left: 20px;
        font-size: 3px;
        width: 10px;
        height: 10px;
    }
    
    footer {
        height: 70px;
        margin-top: 0px;
        font-size: 10px;
    }
}